# SMTP Configuration for turkticaret.net
SMTP_HOST=smtp.turkticaret.net
SMTP_PORT=25
SMTP_USER=contact.form@hebilblue.com.tr
SMTP_PASS=.Pw0S%3=ntyi

# Email where you want to receive contact form messages
CONTACT_EMAIL=info@hebilblue.com.tr